<div></div>
<span></span>
<span></span>
<style>
  body{
    background:#09042A;
  }
  div {
    height:50px; 
    width:180px; 
    background:#E78481;
    border-radius:50px;
    position:absolute;
    top:50%; 
    left:50%; 
   transform:translate(-50%,-50%);
  }
  div:before{
    content:"";
    height:60px; 
    width:60px; 
    background:#09042A; 
    position:absolute; 
    top:50%;
    left:0;
    border-radius:50%;
    transform:translateY(-50%);
    box-shadow:0 0 0 10px #E78481;
  }
  div::after{
    content:"";
    height:60px; 
    width:60px; 
    background:#09042A; 
    position:absolute; 
    top:50%;
    right:0;
    border-radius:50%;
    transform:translateY(-50%);
    box-shadow:0 0 0 10px #E78481;
  }
  span{ 
    height:60px; 
    width:60px; 
    background:#F5BB9C; 
    border-radius:50%; 
    position:absolute;
    left:50%; 
    box-shadow:0 0 0 10px #09042A;
  }
  span:nth-of-type(1){
    top:50%; 
    transform:translate(-50%,-83px);
  }
  span:nth-of-type(2){
    bottom:50%; 
    transform:translate(-50%,83px);
  }
