<div></div>
<p a><p b><p c><p d>
<style>
  body{
    background:#09042A;
  }
  div {
    width: 207px;
    height: 79px;
    background: #E78481;
    position:absolute;
    top:109px;
    left:96px;
    border-radius: 100px ;
    overflow:hidden;
  }
  p{
    height:60px; 
    width:60px; 
    background:red;
    position:absolute;
    border-radius:50%; 
    margin-top:65px; 
    margin-left:165px;
    overflow:hidden;
  }
  [a]{
    height:60px; 
    width:60px; 
    background:#F5BB9C;
    position:absolute;
    border-radius:50%; 
    margin-top:60px; 
    margin-left:165px;
    box-shadow: 0 0 0 10px #09042A ;
  }
  [b]{
    height:60px; 
    width:60px; 
    background:#F5BB9C;
    position:absolute;
    border-radius:50%; 
    margin-top:165px; 
    margin-left:165px;
    box-shadow: 0 0 0 10px #09042A ;
    overflow:hidden;
  }
  [c]
  {
    height:60px; 
    width:60px; 
    background:#09042A;
    position:absolute;
    border-radius:50%; 
    margin-top:112px; 
    margin-left:104px;
   box-shadow: 0 0 0 10px #E78481 ;
    overflow:hidden;
  }  
  [d]{
    height:65px; 
    width:65px; 
    background:#09042A;
    position:absolute;
    border-radius:50%; 
    margin-top:107px; 
    margin-left:220px;
    overflow:hidden;
  }
</style>
