<p a><p b><p c>
  <style>
    body {
      background:#62306D; 
      display:flex; justify-content:center;align-items:center;
    }
    p {
      width:100px;
      height:100px;
      background:#F7EC7D;
      border-radius: 50% 50% 0 0;
    }
    p[b]{
      transform:translateY(-50%);
    }
    p[a],p[c]{
      border-radius:0 0 50% 50% ;
      transform:translateY(50%);
      
    }





