<div class ="rectangle"></div>
<div class ="box"></div>
<div class ="circleleft"></div>
<div class ="circleright"></div>
<div class ="circlecenter"></div>

<style>
  body {
    box-sizing:border-box;
    background:#62306D;
  }
  .rectangle{
    height:117px;
    width:291px; 
    background:#F7EC7D; 
    position:absolute; 
    bottom:0; 
    left:52px; 
  
}
  .box{
    height:190px;
    width:98px; 
    background:#F7EC7D; 
    position:absolute; 
    top:36%; 
    left:148px; 
  }
  .circleleft{
    position:absolute;
    width: 62px;
    height: 60px;
    background: #E38F66;
    border-radius:50%; 
    left:69px; 
    top:169px; 
    box-shadow: 0 0 0 19.5px #AA445F ;
    overflow:hidden; 
  }
  .circleright{
    position:absolute;
    width: 60px;
    height: 60px;
    background:#E38F66;
    border-radius:50%; 
    right:75px;
    top:170px; 
    box-shadow: 0 0 0 21px #AA445F;
   overflow:hidden;   
  }
  .circlecenter{
    position:absolute;
    width: 59px;
    height: 59px;
    background:#AA445F;
    border-radius:50%; 
    top:70px;
    left:168px; 
    box-shadow: 0 0 0 20px #E38F66 ;
   overflow:hidden; 
  }
  
  