<div></div>
<div class = "new"></div>
<span></span>
<style>
  body{
    background:#62306D;
  }
  div {
    width: 100px;
    height: 100px;
    background: #AA445F;
    position:absolute;
    border-top-right-radius:50px;
    border-top-left-radius:50px;
    top:16.78%; 
    left:21%;
  }
  .new{
	width: 99px;
    height: 100px;
    background:#E38F66; 
    position:absloute;
    top:50%; 
    left:54.5%;
    transform:rotate(180deg);
  }
  span{
    height:100px; 
    width:100px; 
    background:#F7EC7D; 
    position:absolute; 
    top:33.78%; 
    left:21%; 
    border-radius:50px;
  }
  span::before{
    content:""; 
    height:100px; 
    width:100px; 
    background:#F7EC7D; 
    position:absolute;
    top:0;
    left:134%;
    border-radius:50px;
  }
</style>
