<p a> <p b> <p c>
  <style>
    *{
      position:absolute; 
    }
    body {
      background:#0B2429; 
      margin:0; 
    }
    p[a] {
      height:120px;
      width:120px;
      background:#F3AC3C; 
      border-radius:50%; 
      top:15px;
      left:200px; 
    }
    p[b]{
      height:120px;
      width:120px;
      background:#998235; 
      border-radius:50%; 
      top:74px;
      left:140px;
      border-top-right-radius:5px;
    }
    p[c]{
      height:120px;
      width:120px;
      background:#F3AC3C; 
      border-radius:50%; 
      top:134px;
      left:80px;
      border-top-right-radius:0px;
    }
    