<div class ="stem"></div>
<div class ="fork"></div>
<div class ="line1"></div>
<div class ="inner-line1"></div>
<div class ="line2"></div>
<div class ="inner-line2"></div>
<div class ="line3"></div>
<div class ="inner-line3"></div>
<div class ="line4"></div>
<style>
  body{
    margin:0px;
    background:#6592CF;
    display:flex;justify-content:center;align-items:center;
  }
  .stem{
    position:absolute;
    width:20px;
    height:52px;
    background:#060F55; 
    bottom:0px;
  }
  .fork{
    width:140px;
    height:100px;
    background:#060F55;
    position:absolute;
    bottom:50px;
    border-bottom-left-radius:70px;
    border-bottom-right-radius:70px;}
  .line1{
    position:absolute;
    width:20px;
    height:110px;
    background:#060F55; 
    bottom:140px;
    left:130px;
    border-top-right-radius:20px;
    border-top-left-radius:20px;   
  }
  .line2{
    position:absolute;
    width:20px;
    height:110px;
    background:#060F55; 
    left:170px;
    bottom:140px;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
   }
  .line3{
    position:absolute;
    width:20px;
    height:110px;
    background:#060F55; 
    left:210px;
    bottom:140px;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    
    
  }
  .line4{
    position:absolute;
    width:20px;
    height:110px;
    background:#060F55; 
    left:250px;
    bottom:140px;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    }
  .inner-line1 {     
    position:absolute;
    width:20px;
    height:110px;
    background:#6592CF; 
    left:150px;
    bottom:140px;
   border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    }
  .inner-line2{
    position:absolute;
    width:20px;
    height:110px;
    background:#6592CF; 
    left:190px;
    bottom:140px;
   border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
  }
  .inner-line3{ 
    position:absolute;
    width:20px;
    height:110px;
    background:#6592CF; 
    left:230px;
    bottom:140px;
   border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    }