<div class="background-rect"></div>
<div class="dark-square"></div>
<div class="light-square"></div>
<div class="circle"></div>
<style>
  body{
    display:flex;justify-content:center;align-items:center;
    background:#222730;
  }
  .background-rect{
    height:150px; 
    width:500px; 
    background:#4CAAB3; 
    position:absolute; 
}
  .dark-square{
    background:#222730; 
    height:250px;
    width:250px; 
    position:absolute; 
    transform : rotate(45deg);
}
  .light-square{
    height:150px; 
    width:150px ; 
    background:#4CAAB3;
    position:absolute; 
    transform :rotate(-45deg);
  }
  
  .circle{
    height:48px; 
    width:48px; 
    background:#393E46; 
    position:absolute; 
    border-radius:50%; 
     
    
  }