<div></div><style>body {
    background: #191919
}

:before,
:after {
    content: "";
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    -webkit-box-reflect: right;
}

body:before {
    border-top: 50px solid #4F77FF;
    right: 50%;
    bottom: 75px;
}

div {
    background: linear-gradient(#191919 50%, #4F77FF 50%);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 75px;
    right: 50%;
    -webkit-box-reflect: right;
}

div:before,
div:after {
    content: "";
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    -webkit-box-reflect: right;
}

div:before {
    border-top: 50px solid #4F77FF;
}

div:after {
    border-top: 50px solid #191919;
    bottom: 0px;
}

</style>