<div><p><style>body {
    background: #191919;
}

div {
    width: 150px;
    height: 200px;
    background: #F2AD43;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 110px 110px 30px 30px;
    overflow: hidden;
}

div:before,
div:after {
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
    bottom: -100px
}

div:before {
    background: #E08027;
    left: -100px;
}

div:after {
    background: #824B20;
    right: -100px;
}

p {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    background: #FFF58F;
    top: 74px;
    left: 50%;
    transform: translateX(-50%);
}

</style>