<div></div><style>body {
    background: #0E2E2C;
}

div {
    width: 200px;
    height: 200px;
    background: #F3AC3C;
    border-radius: 50%;
    position: absolute;
    top: 50;
    left: 100;
    box-shadow:
        inset 0px 0px 0px 6px #F3AC3C,
        inset 0px 0px 0px 20px #0E2E2C,
        inset 0px 0px 0px 28px #F3AC3C,
        inset 0px 0px 0px 40px #0E2E2C,
        inset 0px 0px 0px 50px #998235,
        inset 0px 0px 0px 60px #0E2E2C,
        inset 0px 0px 0px 72px #F3AC3C,
        inset 0px 0px 0px 80px #0E2E2C;
}

</style>