<div></div><style>body {
    background: #6592CF;
}

div {
    height: 200px;
    width: 200px;
    background: #243D83;
    border-radius: 50%;
    position: absolute;
    top: 50;
    left: 100;
    color: #6592CF;
    box-shadow: 226px 0 #243D83,
        -226px 0 #243D83,
        -113px -26px 0 -84px,
        113px -26px 0 -84px,
        113px 26px 0 -84px,
        -113px 26px 0 -84px,
        -113px 0 0 -70px #243D83,
        113px 0 0 -70px #243D83;
}

</style>