<div></div><div></div><div></div><div></div><style>body {
    background: #191919;
    margin: 0;
}

div {
    width: 40px;
    height: 130px;
    background: #FE5F55;
    position: absolute;
    left: 180px;
    border-radius: 0px 0px 20px 20px;
}

div:nth-child(2) {
    bottom: 0px;
    left: 180px;
    transform: rotate(180deg);
}

div:nth-child(3) {
    background: #A64942;
    height: 190px;
    top: 55px;
    left: 65px;
    transform: rotate(-90deg);
}

div:nth-child(4) {
    background: #A64942;
    height: 190px;
    transform: rotate(90deg);
    top: 55px;
    left: 295px;
}

</style>