<div></div>
<style>body{background:#6592CF;margin:0;}
  div {
height:182px;width:40px;border:30px solid #243D83;
border-left:0;
border-radius:0px 80px 80px 0px;margin:30px 0 0 145px;-webkit-box-reflect:right -30px
  }
</style>
